<form novalidate #f="ngForm" [formGroup]="form" (ngForm)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="validationCustom01" class="col-form-label">Nome:</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" placeholder="nome" class="form-control" formControlName="nome">

      <div *ngIf="form.get('nome')?.errors?.['required'] && form.get('nome')?.touched">
        <div class="alert alert-danger" role="alert">
          Nome é obrigatório!
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="mb-3">
      <div class="col-sm-12">
        <label for="exampleInputEmail1" class="col-form-label">Email:</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="nome@email.com"
          aria-describedby="emailHelp" formControlName="email" required email>
        <div *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched">
          <div class="alert alert-danger" role="alert">
            Email é obrigatório!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngModelGroup="endereco">
    <div class="form-group" class="mb-3">
      <div class="row">
        <div class="col-sm-3">
          <label for="cep" class="control-label">CEP:</label>
          <input type="text" class="form-control" placeholder="CEP" id="cep" formControlName="cep" required>
          <div *ngIf="form.get('cep')?.errors?.['required'] && form.get('cep')?.touched">
            <div class="alert alert-danger" role="alert">
              CEP é obrigatório!
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="numero" class="control-label">Número:</label>
          <input type="text" class="form-control" placeholder="Número" id="numero" formControlName="numero" required>
          <div *ngIf="form.get('numero')?.errors?.['required'] && form.get('numero')?.touched">
            <div class="alert alert-danger" role="alert">
              Número é obrigatório!
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="numero" class="control-label">Complemento:</label>
          <input type="text" class="form-control" placeholder="Complemento" id="complemento"
            formControlName="complemento">
        </div>
      </div>
    </div>

    <div class="form-group" class="mb-3">
      <div class="row">
        <div class="col-sm-12">
          <label for="validationCustom01" class="col-form-label">Rua:</label>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="rua" placeholder="Rua" class="form-control" formControlName="rua"
            required>

          <div *ngIf="form.get('rua')?.errors?.['required'] && form.get('rua')?.touched">
            <div class="alert alert-danger" role="alert">
              Rua é obrigatório!
            </div>
          </div>
        </div>

        <div class="col-sm-5">
          <label for="bairro" class="control-label">Bairro:</label>
          <input type="text" class="form-control" placeholder="Bairro" id="bairro" formControlName="bairro" required>
          <div *ngIf="form.get('bairro')?.errors?.['required'] && form.get('bairro')?.touched">
            <div class="alert alert-danger" role="alert">
              Bairro é obrigatório!
            </div>
          </div>
        </div>


        <div class="col-sm-4">
          <label for="cidade" class="control-label">Cidade:</label>
          <input type="text" class="form-control" placeholder="Cidade" id="cidade" formControlName="cidade" required>
          <div *ngIf="form.get('cidade')?.errors?.['required'] && form.get('cidade')?.touched">
            <div class="alert alert-danger" role="alert">
              Cidade é obrigatório!
            </div>
          </div>
        </div>


        <div class="col-sm-3">
          <label for="estado" class="control-label">Estado:</label>
          <input type="text" class="form-control" placeholder="Estado" id="estado" formControlName="estado" required>
          <div *ngIf="form.get('estado')?.errors?.['required'] && form.get('estado')?.touched">
            <div class="alert alert-danger" role="alert">
              Estado é obrigatório!
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </div>
  <app-form-debug [form]="f"></app-form-debug>
</form>