<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Forms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/templateForm']"
            routerLinkActive="router-link-active">Form - Template Driven</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/dataForm']"
            routerLinkActive="router-link-active">Form - Data Driven</a>
        </li>
      </ul>
      <span class="navbar-text">
        Forms no Angular
      </span>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
